<h1 class="w-full my-2 text-5xl leading-tight font-bold text-center text-kapps">{{ title }}</h1>
<div class="w-full mb-4">
    <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded"></div>
</div>