<section>
    {% include 'partials/navigation.html.twig' %}

    <div class="text-center">
        <h1 style="font-family: Montserrat" class="my-8 sm:my-16 pt-6 font-black text-indigo-600 text-4xl sm:text-5xl">
            <a href="{{ home_url }}">{{ site.author.name }}</a>
        </h1>
    </div>

    <div id="header-divider" class="bg-indigo-600 h-px w-full my-4 transform -rotate-1"></div>
</section>