<nav id="navigation" class="fixed w-full flex flex-row justify-center sm:justify-end z-30 top-0 bg-white text-primary">
    <ul class="flex flex-row mt-0 py-2 px-6 font-light">
        {% for page in pages.children.visible %}
        <li class="mr-6 last:mr-0 no-underline">
            <a href="{{ page.url }}">{{ page.menu }}</a>
        </li>
        {% endfor %}
    </ul>

    {% include 'partials/langswitcher.html.twig' %}
</nav>